<div class="container">
      <div class="row">
      <div class="col-md-5  toppad  pull-right col-md-offset-3 ">
           <a href="edit.html">Edit Profile</a>

        <a href="edit.html">Logout</a>
       <br>
<p class=" text-info">May 05,2014,03:00 pm </p>
      </div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xs-offset-0 col-sm-offset-0 col-md-offset-3 col-lg-offset-3 toppad" >

          <div class="panel panel-info">
            <div class="panel-heading">
              <h3 class="panel-title"><%= @account.personal.name %></h3>
            </div>
            <div class="panel-body">
              <div class="row">
                <div class="col-md-3 col-lg-3 " align="center"> <img alt="User Pic" src="http://babyinfoforyou.com/wp-content/uploads/2014/10/avatar-300x300.png" class="img-circle img-responsive"> </div>
                <div class="col-xs-10 col-sm-10 hidden-md hidden-lg"> <br>
                  <dl>
                    <h3>---------PERSONAL INFO---------</h3>
                    <dt>BIRTHDATE:</dt>
                      <dd><%= @account.personal.birthdate %></dd>
                    <dt>GENDER</dt>
                       <dd><%= @account.personal.gender %></dd>
                    <dt>HEIGHT</dt>
                      <dd><%= @account.personal.height %></dd>
                    <dt>WEIGHT</dt>
                      <dd><%= @account.personal.weight %></dd>
                    <dt>BLOOD TYPE</dt>
                      <dd><%= @account.personal.blood_type %></dd>
                  </dl>
                </div>
                <div class=" col-md-9 col-lg-9 ">
                  <table class="table table-user-information">
                    <tbody>
                      <h3>---------CONTACT INFO---------</h3>
                      <tr>
                        <td>PHONE</td>
                        <td><%= @account.contact.phone %></td>
                     </tr>
                      <tr>
                        <td>IN CASE OF EMERGENCY CONTACT</td>
                        <td><%= @account.contact.ice_name %></td>
                      </tr>
                      <tr>
                        <td>IN CASE OF EMERGENCY RELATION</td>
                        <td><%= @account.contact.ice_relation %></td>
                      </tr>
                      <tr>
                        <td>IN CASE OF EMERGENCY PHONE</td>
                        <td><%= @account.contact.ice_phone %></td>
                      </tr>

                      <h3>---------MEDICAL INFO---------</h3>
                      <tr>
                        <td>ALLERGIES</td>
                        <td><%= @account.medical.allergies %></td>
                     </tr>
                      <tr>
                        <td>DISEASES</td>
                        <td><%= @account.medical.diseases %></td>
                      </tr>
                      <tr>
                        <td>MEDICATION & DOSAGE</td>
                        <td><%= @account.medical.medication_dosage %></td>
                      </tr>
                      <tr>
                        <td>SMOKING</td>
                        <td><%= @account.medical.smoking %></td>
                      </tr>
                      <tr>
                        <td>ALCOHOL</td>
                        <td><%= @account.medical.alcohol %></td>
                      </tr>
                      <tr>
                        <td>IMPLANTS OR PROSTHESIS</td>
                        <td><%= @account.medical.implants %></td>
                      </tr>
                      <tr>
                        <td>ORGAN DONOR</td>
                        <td><%= @account.medical.organ_donor %></td>
                      </tr>
                      <h3>---------CAMP & VEHICLE LOCATION---------</h3>
                      <tr>
                        <td>PARK NAME</td>
                        <td><%= @account.camp_location.park_name %></td>
                     </tr>
                      <tr>
                        <td>CAMPSITE NUMBER</td>
                        <td><%= @account.camp_location.site_number %></td>
                      </tr>
                      <tr>
                        <td>VEHICLE MAKE</td>
                        <td><%= @account.camp_location.vehicle_make %></td>
                      </tr>
                      <tr>
                        <td>VEHICLE MODEL</td>
                        <td><%= @account.camp_location.vehicle_model %>/td>
                      </tr>
                      <tr>
                        <td>VEHICLE YEAR</td>
                        <td><%= @account.camp_location.vehicle_year %></td>
                      </tr>
                      <tr>
                        <td>VEHICLE COLOR</td>
                        <td><%= @account.camp_location.vehicle_color %></td>
                      </tr>
                      <tr>
                        <td>VEHICLE PLATE</td>
                        <td><%= @account.camp_location.vehicle_plate %></td>
                      </tr>

                    </tr>
                    </tbody>
                  </table>

                  <a href="#" class="btn btn-primary">My Sales Performance</a>
                  <a href="#" class="btn btn-primary">Team Sales Performance</a>
                </div>
              </div>
            </div>
                 <div class="panel-footer">
                        <a data-original-title="Broadcast Message" data-toggle="tooltip" type="button" class="btn btn-sm btn-primary"><i class="glyphicon glyphicon-envelope"></i></a>
                        <span class="pull-right">
                            <a href="edit.html" data-original-title="Edit this user" data-toggle="tooltip" type="button" class="btn btn-sm btn-warning"><i class="glyphicon glyphicon-edit"></i></a>
                            <a data-original-title="Remove this user" data-toggle="tooltip" type="button" class="btn btn-sm btn-danger"><i class="glyphicon glyphicon-remove"></i></a>
                        </span>
                    </div>

          </div>
        </div>
      </div>
    </div>
