<img id="bg-profile" alt="">
<div class="caspian">caspian</div>
<a href="/account/logout">Logout</a>
<div class="container">
      <div class="row">
      <div class="col-md-5  toppad  pull-right col-md-offset-3 ">
           <a href="/personal/update">Edit Personal</a>

         <a href="/account/logout">Logout</a>

       <br>

      </div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xs-offset-0 col-sm-offset-0 col-md-offset-3 col-lg-offset-3 toppad" >

          <div class="panel panel-info">
            <span class="pull-right">
                <a href="tel:<%= @account.contact.ice_phone %>" type="button" class="btn btn-sm btn-warning">CALL ICE</i></a>
                <a type="button" class="btn btn-sm btn-danger">CALL 911</i></a>
            </span>
            <div class="panel-heading">
              <h3 class="panel-title"><%= @account.personal.name %></h3>
            </div>

            <div class="panel-body">
              <div class="row">
                <div class="col-md-3 col-lg-3 " align="center"> <img alt="User Pic" src="http://babyinfoforyou.com/wp-content/uploads/2014/10/avatar-300x300.png" class="img-circle img-responsive"> </div>
                <div class="col-xs-10 col-sm-10 hidden-md hidden-lg"> <br>
                  <dl></dl>
                </div>
                <div class=" col-md-9 col-lg-9 ">
                  <table class="table table-user-information">
                    <tbody>
                      <tr><td><center><h4>PERSONAL INFO</h4><center></td></tr>
                      <tr>
                        <td>BIRTHDATE:</td>
                        <td><%= @account.personal.birthdate %></td>
                      </tr>
                      <tr>
                      <td>GENDER</dt>
                         <td><%= @account.personal.gender %></td>
                      </tr>
                      <tr>
                      <td>HEIGHT</dt>
                        <td><%= @account.personal.height %></td>
                      </tr>
                      <tr>
                      <td>WEIGHT</dt>
                        <td><%= @account.personal.weight %></td>
                      </tr>
                      <tr>
                      <td>BLOOD TYPE</dt>
                        <td><%= @account.personal.blood_type %></td>
                      </tr>
                      <tr><td><center><h4>CONTACT INFO</h4></center></td></tr>
                      <tr>
                        <td>PHONE</td>
                        <td><%= @account.contact.phone %></td>
                     </tr>
                      <tr>
                        <td>IN CASE OF EMERGENCY CONTACT</td>
                        <td><%= @account.contact.ice_name %></td>
                      </tr>
                      <tr>
                        <td>IN CASE OF EMERGENCY RELATION</td>
                        <td><%= @account.contact.ice_relation %></td>
                      </tr>
                      <tr>
                        <td>IN CASE OF EMERGENCY PHONE</td>
                        <td><%= @account.contact.ice_phone %></td>
                      </tr>
                      <tr><td><center><h4>MEDICAL INFO</h4></cetner></td></tr>
                      <tr>
                        <td>ALLERGIES</td>
                        <td><%= @account.medical.allergies %></td>
                     </tr>
                      <tr>
                        <td>DISEASES</td>
                        <td><%= @account.medical.diseases %></td>
                      </tr>
                      <tr>
                        <td>MEDICATION & DOSAGE</td>
                        <td><%= @account.medical.medication_dosage %></td>
                      </tr>
                      <tr>
                        <td>SMOKING</td>
                        <td><%= @account.medical.smoking %></td>
                      </tr>
                      <tr>
                        <td>ALCOHOL</td>
                        <td><%= @account.medical.alcohol %></td>
                      </tr>
                      <tr>
                        <td>IMPLANTS OR PROSTHESIS</td>
                        <td><%= @account.medical.implants %></td>
                      </tr>
                      <tr>
                        <td>ORGAN DONOR</td>
                        <td><%= @account.medical.organ_donor %></td>
                      </tr>
                      <tr><td><center><h4>LOCATION & VEHICLE INFO</h4></center></td></tr>
                      <tr>
                        <td>PARK NAME</td>
                        <td><%= @account.camp_location.park_name %></td>
                     </tr>
                      <tr>
                        <td>CAMPSITE NUMBER</td>
                        <td><%= @account.camp_location.site_number %></td>
                      </tr>
                      <tr>
                        <td>VEHICLE MAKE</td>
                        <td><%= @account.camp_location.vehicle_make %></td>
                      </tr>
                      <tr>
                        <td>VEHICLE MODEL</td>
                        <td><%= @account.camp_location.vehicle_model %></td>
                      </tr>
                      <tr>
                        <td>VEHICLE YEAR</td>
                        <td><%= @account.camp_location.vehicle_year %></td>
                      </tr>
                      <tr>
                        <td>VEHICLE COLOR</td>
                        <td><%= @account.camp_location.vehicle_color %></td>
                      </tr>
                      <tr>
                        <td>VEHICLE PLATE</td>
                        <td><%= @account.camp_location.vehicle_plate %></td>
                      </tr>

                    </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
                 <div class="panel-footer">
                        <!-- <a data-original-title="Broadcast Message" data-toggle="tooltip" type="button" class="btn btn-sm btn-primary"><i class="glyphicon glyphicon-envelope"></i></a> -->

                    </div>

          </div>
        </div>
      </div>
    </div>
